<html><head>
<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
</head>
<body style="text-align: center;"> 
Choose role<br>

<a href="{{customer_link}}">Customer</a><br>
or<br>
<a href="{{executor_link}}">Executor</a>

</body>
</html>