:host {
    width: 100%;
}
.autocomplete {
    position: relative;
    width: 100%;
    .select {
        .select-list {
            position: absolute;
            top: 100%;
            background: rgba(0, 0, 0, 0.8);
            box-sizing: border-box;
            color: #fff;
            width: 100%;
            height: 0;
            overflow-y: scroll;
            max-height: 210px;
            z-index: 10;
            &.active {
                height: auto;
            }
            .select-option {
                cursor: pointer;
                padding: 5px 10px;
                &:hover {
                    background: rgba(0, 0, 0, 0.2);
                }
            }
            &::-webkit-scrollbar {
                width: 2px;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px grey;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background: #000000;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #b30000;
            }
        }
    }
}
