<div class="w-100 mb-3 page-block">
    <div class="col-12 col-sm-4 d-inline-flex align-items-center justify-content-center pt-3 pb-3">
        <input type="text" class="form-control" [(ngModel)]="search" (keyup)="searchRefresh()" placeholder="Поиск...">
    </div>
    <div class="col-12 col-sm-4 d-inline-flex align-items-center justify-content-center pt-3 pb-3"></div>
    <div class="col-12 col-sm-4 d-inline-flex align-items-center justify-content-end pt-3 pb-3"></div>
</div>


<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <div>
            Справочник профессий
        </div>

        <div class="action-buttons d-flex">
            <button class="btn btn-primary mr-2" [routerLink]="['specialties/groups' | link]">Группы</button>
            <button class="btn btn-default" (click)="openSpecialiteDetails(content)">Создать</button>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover table-striped text-center">
            <thead>
            <tr>
                <th>
                    <div class="d-flex w-100 align-items-center justify-content-center">ID</div>
                </th>
                <th>
                    <div class="d-flex w-100 align-items-center justify-content-center">Имя</div>
                </th>
                <th>
                    <div class="d-flex w-100 align-items-center justify-content-center">Група</div>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of list">
                <td (click)="openSpecialiteDetails(content, item)">{{item.id}}</td>
                <td (click)="openSpecialiteDetails(content, item)">{{item.name}}</td>
                <td (click)="openSpecialiteDetails(content, item)">{{item.group.name}}</td>
                <td><i class="fa fa-remove c-pointer" (click)="deleteConfirm(deleteConfirmModal, item)"></i></td>
            </tr>
            </tbody>
        </table>
    </div>

    <app-my-pagination *ngIf="countSpecialites" [countItems]="countSpecialites" [showInPages]="countShowInPage" (changePage)="pageChanged($event)"></app-my-pagination>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Група {{selectedSpecialite.name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex flex-column">
            <div>Имя: <input class="form-control" [(ngModel)]="selectedSpecialite.name"></div>
            <div>Описание: <input class="form-control" [(ngModel)]="selectedSpecialite.info"></div>
            <div>Група:
                <select class="form-control" [(ngModel)]="selectedSpecialite.group_id">
                    <option *ngFor="let item of groupsList" [value]="item.id">{{item.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-2" (click)="saveSpecialite()">Сохранить</button>
        <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
    </div>
</ng-template>

<ng-template #deleteConfirmModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Група {{deleteSpecialite.name}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex flex-column">
            Вы уверены что хотите удалить специальность?
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger mr-2" (click)="deleteSpecialiteConfirm()">Удалить</button>
        <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
    </div>
</ng-template>
