<button class="btn btn-default" (click)="openModal(contentLocatyionModal)">Выбрать местоположения</button>

<ng-template #contentLocatyionModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Выберите местоположения</h4>
        <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-get-location (change)="changeEmit($event)" [default]="default"></app-get-location>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">Закрыть</button>
    </div>
</ng-template>
